@import "tailwindcss";

:root {
  --background: #7c69a1;
  --foreground: #190538;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsla(290, 26%, 53%, 0.37);
    --foreground: #110e0e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.data-background {
  background-image: url('/aib.jpg'); /* References the file in your public folder */
  background-size: cover; /* Makes the image cover the whole screen */
  background-position: center; /* Keeps the center of the image visible */
  background-repeat: no-repeat; /* Prevents tiling */
  background-attachment: fixed; /* Stops the background from scrolling */
}
